body {
  font-family: Arial;
  background-color: #f6f9fc;
  text-align: center;
  padding: 40px;
}

form {
  background: white;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
